@import '../../../styles/customMediaQueries.css';

.root {
  position: relative;
  padding-top: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--colorGrey100);

  @media (--viewportMedium) {
    padding-top: 12px;
    padding-bottom: 0;
    border-bottom: 0;
  }
}

.filterHeader {
  line-height: 24px;
}

.labelWrapper {
  display: inline-block;
  max-width: calc(100% - 16px);
}

.label,
.labelSelected {
  composes: marketplaceSmallFontStyles from global;
  font-weight: var(--fontWeightBold);
  font-size: 11px;
  line-height: 16px;

  /* Baseline adjustment for label text */
  margin-top: 0;
  margin-bottom: 8px;
  padding: 4px 0 2px 0;

  @media (--viewportMedium) {
    padding: 0;
    margin-bottom: 6px;
    font-size: 12px;
    line-height: 18px;
  }
}

.label {
  color: var(--colorGrey700);
}

.labelSelected {
  color: var(--marketplaceColor);
  white-space: nowrap;
  font-weight: var(--fontWeightBold);
}

.labelButton {
  /* Override button styles */
  outline: none;
  line-height: 24px;
  text-align: left;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 100%;
  transition: all 0.2s ease;
}

.labelButtonContent {
  display: inline-block;
  width: 100%;

  &:hover {
    color: var(--marketplaceColor);

    & * {
      color: var(--marketplaceColor);
      stroke: var(--marketplaceColor);
    }
  }
}

.openSign {
  float: right;
  transition: transform 0.2s ease;
}

.formWrapper {
  padding-left: 12px;
  padding-top: 8px;
}

.clearButton {
  composes: h5 from global;
  margin: 0;
  display: block;
  font-weight: var(--fontWeightMedium);
  color: var(--colorGrey400);
  font-size: 11px;

  /* Override button styles */
  outline: none;
  text-align: left;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:focus,
  &:hover {
    color: var(--colorGrey700);
  }

  @media (--viewportMedium) {
    margin: 0;
    padding: 6px 0 6px 0;
    font-size: 12px;
  }
}
